---
title: turai.work
---
<div id="wrapper">
  <div id="left-area">
    <span id="title">turai.work</span>
  </div>
  <div id="right-area">
    <ul>
      <li><a href="/"><i class="fa fa-twitter fa-fw"></i>Twitter</a></li>
    </ul>
  </div>
</div>
